#「node_modules」フォルダ配下はpush対象としない。
#（末尾のスラッシュは、「フォルダ」であることの印。同名の「ファイル」は関係ない。
node_modules/

# ＤＢ接続情報を記載したファイルはpush対象としない。
dbInfo.js

#「*.txt」という名前のものはpush対象としない。
#（リモートリポジトリにあげる必要のない個人メモなどを想定。）
*.txt

#「sql」フォルダ配下はpush対象とする。
#（末尾のスラッシュは、「フォルダ」であることの印。同名の「ファイル」は関係ない。
!/sql/*
